@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kolor-niebieski: #0085C7;
  --kolor-zolty: #F4C300;
  --kolor-czarny: #000000;
  --kolor-zielony: #009F3D;
  --kolor-czerwony: #DF0024;
  --kolor-tlo: #e0f2fe;
}

body {
  background-color: var(--kolor-tlo);
  color: #111111;
}
